@charset "ISO-8859-1";
article, aside, figure, footer, header, hgroup,
  menu, nav, section { display: block; }
  
  #aboutimages{
    text-align: center;
    margin: 0 auto;
    width: 95%;
    margin-top: 10px;   
  }

  #aboutimgleft {
   display:inline-block;
    float: left;
    margin-left: 10px;
  }

#aboutimgleft video {
   
}

#aboutimgcenter {
    display:inline-block;
}

#aboutimgcenter video{
    width:1500px;
    height:800px;

}
#aboutimgright {
    display:inline-block;
    float: right;
    margin-right: 10px;
}
#aboutimgright video{
    
}



   body {
	    background-color: #000000;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
        }

        .video-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px; /* Adjust the gap between videos as needed */
            height: 100vh; /* Fill the full viewport height */
        }

        .video-container {
            display: flex;
            justify-content: center;
            align-items: center;
	    overflow: hidden;
	    border: 2px solid #000;
	    box-sizing: border-box;
	    position: relative;
        }

        .video {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover; /* Maintain aspect ratio while fitting within the container */
        }

     .text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 20px;
            display: none;
        }
